*{
    margin: 0;
    padding: 0;
}
@media(min-width:994px){
    .tampilan2{
        display: none;
    }
    .footer2{
        display: none;
    }
}
@media(max-width:993px){
    .tampilan1{
        display: none;
    }
    .tampilan2{
        display: block;
    }
    .footer1{
        display: none;
    }
    .footer2{
        display: block;
    }
}